<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" throwExceptions="true">
  <variable name="auditFileName" value="${basedir}/Audit/vault-audit"/>
  <targets async="true">

    <target name="console" xsi:type="ColoredConsole" layout="${message}${onexception:inner= | ${exception:format=tostring}}">
      <highlight-row backgroundColor="NoChange" condition="regex-matches('${message}', 'New socket connection established', 'ignorecase,singleline')" foregroundColor="Green" />
      <highlight-row backgroundColor="NoChange" condition="regex-matches('${message}', 'Socket connection closed', 'ignorecase,singleline')" foregroundColor="DarkYellow" />
    </target>

    <target xsi:type="File"
            name="debuglog"
            archiveAboveSize="1024000"
            concurrentWrites="true"
			      encoding="utf-8"
            fileName="${basedir}/Debug.log"
            keepFileOpen="true"
            layout="${time} ${pad:padding=5:inner=${level:uppercase=true}} [${threadid:pad:padding=-2:fixedLength=true}] ${message}${onexception:inner= | ${exception:format=tostring}}"
            maxArchiveFiles="10" />

    <target xsi:type="File"
            name="auditlog"
            archiveEvery="Day"
            archiveFileName="${var:auditFileName}.{#}.zip"
            archiveNumbering="Date"
            concurrentWrites="true"
            createDirs="true"
            enableArchiveFileCompression="true"
            encoding="utf-8"
            fileName="${var:auditFileName}.json"
            keepFileOpen="true"
            maxArchiveFiles="360">
      <layout xsi:type="JsonLayout" includeAllProperties="true" maxRecursionLimit="4">
        <attribute name="hostname" layout="${hostname}" />
        <attribute name="message" layout="${message}" encode="false" />
      </layout>
    </target>
    
  </targets>
  <rules>
    <logger name="AuditLog" writeTo="auditlog" enabled="true" final="true" />
    <logger name="*" minlevel="Info" writeTo="console" enabled="true" />
    <logger name="*" minlevel="Warn" writeTo="debuglog" enabled="true" />
  </rules>
</nlog>